<h1>It's mailing service!</h1>

<form action='/home/email_send' method="POST">
    받는사람 : <input type="text" name="adress"><br>
    제목 : <input type="text" name="title"><br>
    내용<br>
    <textarea name="content"></textarea>
    <input type="submit" value="전송">
    
    
</form>